.header {
    // outline: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    height: 115px;
    gap: 50px;

    // for sticky
    // position: sticky;
    // top: 0;
    // background-color: #fff;
    // z-index: 20;

    img {
        width: 150px;
    }

    .nav-items {
        @media (max-width: 750px) {
            display: none;
        }


        display: flex;
        gap: 50px;

        a {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .cart-icon-head {

            position: relative;

            .cart-items {
                background-color: #fff;
                border-radius: 100%;
                // outline: 1px solid black;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                font-size: 15px;
                display: flex;
                position: absolute;
                top: -9px;
                left: 13px;

                @media (max-width: 750px) {
                    outline: 2px solid white;
                    background-color: black;
                }

            }
        }
    }

    .bar-menu {
        display: none;
    }

    @media (max-width: 750px) {
        img {
            width: 120px;
        }

        .nav-items {
            background-color: black;
            z-index: 4;

            a {
                color: white;
            }
        }

        .open-menu {
            display: flex;
            position: fixed;
            outline: 1px solid black;
            right: 0;
            top: 0;
            height: 100%;
            flex-direction: column;
            width: 200px;
            padding-top: 100px;
            align-items: center;

            opacity: 1;
            transition: all 0.3s ease;
        }

        .close-menu {
            display: flex;
            position: fixed;
            outline: 1px solid black;
            right: 0;
            top: 0;
            height: 100%;
            flex-direction: column;
            width: 200px;
            padding-top: 100px;
            align-items: center;
            transform: translateX(102%);
            opacity: 0;
            transition: all 0.3s ease;
        }

        .bar-menu {
            display: block;
            position: absolute;
            top: 28;
            right: 28;
            font-size: 2rem;
            z-index: 5;

            .spinny {
                animation: spin 1s ease alternate;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {

                    transform: rotate(180deg);
                }
            }

            .my-white {
                color: white;
            }

            .fixed-it {
                position: fixed;
                top: 28;
                right: 28;
            }
        }
    }




}